<div class="row">

	<div class="col-md-2">
	<form class="create-update-form" action="quests/create" method="POST">
		<h4><b>Quest</b></h4>
		<input type="text" id="questInput" name="task">
	</div>
	<div class="col-md-2">
		<h4><b>Challenge Level</b></h4>
				<select class="form-control" id="levelSelect" name="rating">
					<option value="5">Common +5</option>
					<option value="10">Tough +10</option>
					<option value="20">Epic +20</option>
			</select>
	</div>
	<div class="col-md-2">
		<h4><b>Type</b></h4>

				<select class="form-control" id="typeSelect" name="qtype">
					<option value="intellect">Intellect</option>
					<option value="body">Body</option>
					<option value="soul">Soul</option>
				</select>

	</div>
	<div class="col-md-2">
		<br>
		<br>
		
		<input type="hidden" value="{{playerID}}" name="playerID">

		<button id="submitBtn" class="btn btn-primary">Add Quest</button>

	</div>
	</form>

</div>

<div class="row">

	<div class="col-md-4" id="profile">
		<br>
		<h3>Character Profile</h3>
		<br>
		<img id="profImg" src="http://www.colorcombos.com/images/colors/FFFFFF.png" width="100" height="135">
		{{#each quests}}
			{{#if @last}}
		<h4 type="hidden" id="photoVal">{{this.photo}}</h4>	
		<h4><b>Name: {{this.name}}</b></h4>
		<h5><b>Level: {{this.level}}</b></h5>
		<h5>Intellect: {{this.mind}}</h5>
		<h5>Body: {{this.phys}}</h5>
		<h5>Soul: {{this.soul}}</h5>
		<h5><b>Experience: {{this.exp}}</b></h5>
			{{/if}}
		{{/each}}

	</div>

<div class="col-md-4" id="quests">
		<br>
		<h3>Active Quests</h3>
			<div id="questsCol">
			{{#each quests}}
				{{#unless this.done}}
					<br>
					<h4><b>Task: {{this.task}}</b></h4>
					<h5><b>Points: +{{this.rating}}</b></h5>
					<h5><b>Type: {{this.qtype}}</b></h5>
					<form action="quests/update/{{this.id}}?_method=PUT" method="POST">
					<div>
					<input type="hidden" name="done" value="true">
					<input type="hidden" value={{this.level}} class="lvlType">
					<input type="hidden" value={{this.exp}} class="expType">
					<input type="hidden" value={{this.rating}} class="rateType">
					<input type="hidden" value={{this.playerID}} class="playeridType">
					<input type="hidden" value={{this.id}} class="idType">
					<input type="hidden" value={{this.qtype}} class="taskType">
					<button type="submit" data-id="{{this.id}}" class="done-btn">Done</button>
					</div>
					</form>

				{{/unless}}
			{{/each}}
			</div>
</div>

<div class="col-md-4" id="doneQuests">
	<br>
	<h3>Completed Quests</h3>
		<br>

			{{#each quests}}
				{{#if this.done}}

						<h5><b>Complete: {{this.task}}</b></h5>
						<h5>Rating: {{this.rating}}</h5>
						<br>
	
				{{/if}}
			{{/each}}

</div>

</div>

<script type="text/javascript">

$(document).ready(function(){

	var plyrPhoto = $('#photoVal').text();

	$('#profImg').empty();
	$('#profImg').attr("src", plyrPhoto);
	$('#photoVal').empty();

	var currentURL = window.location.origin;

			$('.done-btn').on('click', function(){
				
				var exp = $(this).siblings(".expType").val().trim();
				var task = $(this).siblings(".taskType").val().trim();
				var id = $(this).attr('data-id');
				var plyrID = $(this).siblings(".playeridType").val().trim();
				var rating = $(this).siblings(".rateType").val().trim();
				var plyrLvl = $(this).siblings(".lvlType").val().trim();
				console.log(Math.floor(exp / 100) + 1);

				console.log(task);
				console.log(id);
				console.log(plyrID);
				console.log(rating);

				function levelUp() {
					var result = (Math.floor(exp / 100) + 1);
					console.log(plyrLvl + " " + result); 

					if (plyrLvl != result) {
						console.log("Level update");

						$.post('/quests/levelup/' + plyrID, function(data){
							console.log(data);
						})
					}
				}

				levelUp();

				//activating intellect upgrade routes	
				if (task == "intellect" && rating == 5 || rating == 10 || rating == 20) {		

					$.post('/quests/statsM/' + plyrID + '/' + rating, function(data){
						console.log(data);
					})
				}

				//activating body upgrade routes
				if (task == "body" && rating == 5 || rating == 10 || rating == 20) {

					$.post('/quests/statsB/' + plyrID + '/' + rating, function(data){
						console.log(data);
					})
				}


				//activating soul upgrade routes
				if (task == "soul" && rating == 5 || rating == 10 || rating == 20) {

					$.post('/quests/statsS/' + plyrID + '/' + rating, function(data){
						console.log(data);
					})
				}
});

</script>